/* Delete.css */
.delete-post-container {
  text-align: center;
  padding: 20px;
  background-color: #ffcccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.delete-post-loading {
  font-size: 18px;
  color: #cc0000;
}
